@charset "UTF-8";
/* -------------------
  COMMON
--------------------*/

// =========================================
// Font family
// =========================================

// @font-face{
//   font-family: EuclidFlex;
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot'); // IE9 Compat Modes
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff2') format('woff2'),  Super Modern Browsers 
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff') format('woff'), // Pretty Modern Browsers
//        url('../font/EuclidFlex/EuclidFlex-Regular.ttf')  format('truetype'), // Safari, Android, iOS
//        url('../font/EuclidFlex/EuclidFlex-Regular.svg#svgFontName') format('svg'); // Legacy iOS
// }


// =========================================
// BODY
// =========================================
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #40210F;
  &.fixed {
    height: 100vh;
    overflow: hidden;
  }
}


// =========================================
// CONTROL VIEW ELEMENT
// =========================================

.pc-only {
  display: block !important;
  @include mq() {
		display: none !important;
	}
}

.pc-only2 {
  display: inline-block !important;
  @include mq() {
	  display: none !important;
	}
}

.sp-only {
  display: none !important;
  @include mq() {
	  display: block !important;
	}
}

// =========================================
// COMMON LAYOUT
// =========================================
.wrapper {
  min-width: 1024px;
  overflow: hidden;
  @include mq() {
    // padding-top: 80px;
    min-width: auto;
  }
}

.main {
  @include mq() {
    padding-top: 80px;
  }
}

.container {
  position: relative;
  width: 1050px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}
