@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
	margin-top: 100px;
	padding: 20px 0;
	background-color: #F0F0F0;
	text-align: center;
	line-height: fs(22);
	&-copy {
		@include mq() {
			letter-spacing: 1.1px;
		}
	}
	a {
		text-decoration: underline;
		transition: all .25s;
		&:hover {
			opacity: 0.7;
		}
	}
}