@charset "UTF-8";
/* -------------------
  HEADER
--------------------*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	z-index: 99999;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.3));
	@include mq() {
		position: fixed;
		background: #ffe1af;
		height: 81px;
		// border-bottom: solid 2px #BFBFBF;
	}
	.container {
		height: 100%;
	}
	&-logo {
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		width: 180px;
		padding: 10px;
		background-color: #fff;
		border-radius: 50%;
		z-index: 100;
		@include mq() {
			top: 6px;
	    left: 10px;
	    width: 105px;
			transform: translateX(0);
			-webkit-transform: translateX(0);
			padding: 0;
			background-color: #ffe1af;
			border-radius: 50%;
		}
	}
	&-menu {
		display: flex;
		justify-content: space-between;
    align-items: center;
		height: 100%;
    font-size: fs(18);
    color: #000;
    @include mq() {
			display: block;
			position: fixed;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    font-size: 0.75rem;
	    line-height: 1.25rem;
	    border-top: solid 1px #40210F;
	    background-color: #ffe1af;
	    z-index: 9999;
	    transform: translateX(100%);
	    -webkit-transform: translateX(100%);
	    transition: all .25s;
	    &.active {
		    transform: translateX(0);
		    -webkit-transform: translateX(0);
	    }
		}
		&--nav {
			display: flex;
	    align-items: center;
	    @include mq() {
				display: block;
			}
			li {
				margin-right: 40px;
				transition: all .3s;
				@include mq() {
					margin-right: 0;
				}
				&:last-child {
					margin-right: 0;
					display: flex;
				}
				a {
					display: inline-block;
					position: relative;
					-webkit-transition: all .25s;
			    transition: all .25s;
					&:hover {
						opacity: .7;
						&:before {
							width: 80%;
						}
					}
					&:before {
				    content: "";
				    width: 0px;
				    height: 2px;
				    background: #40210F;
				    position: absolute;
				    bottom: -6px;
				    left: 0px;
				    -webkit-transition: all .25s linear 0s;
				    -o-transition: all .25s linear 0s;
				    transition: all .25s linear 0s;
				    @include mq() {
							display: none;
						}
					}
				}
				.facebook {
			    display: flex;
			    align-items: center;
			    justify-content: center;
					width: 40px;
					height: 40px;
					margin-right: 10px;
					border: solid 2px #000;
			    border-radius: 5px;
			    transition: all .3s;
			    @include mq() {
			    	display: flex !important;
						margin: 0 15px 0 0;
						width: 46px;
				    height: 46px;
				    border-radius: 10px;
						font-size: fs(26) !important;
			    }
			    &:hover {
			    	border-color: #4267B2;
			    	background-color: #4267B2;
			    	color: #fff;
			    }
				}
				.instagram {
			    display: flex !important;
			    align-items: center;
			    justify-content: center;
					width: 40px;
					height: 40px;
					font-size: fs(26);
					border: solid 2px #000;
			    border-radius: 5px;
			    transition: all .3s;
			    @include mq() {
		    		width: 46px;
				    height: 46px;
				    border-radius: 10px;
						font-size: fs(26) !important;
			    }
			    &:hover {
			    	border-color: #d20066;
			    	background-color: #d20066;
			    	color: #fff;
			    }
				}
				.lang-box {
					display: flex;
					align-items: center;
					&--item {
						display: inline-block;
						margin-right: 10px;
						&:last-child {
							margin-right: 0;
						}
					}
					a {
						width: 40px;
					}
				}
			}
			&.left {
				li {
					@include mq() {
						margin-right: 0;
				    border-bottom: solid 1px #40210F;
						a {
							display: block;
					    padding: 15px 20px;
					    font-weight: bold;
					    font-size: fs(14);
					    letter-spacing: 1px;
						}
					}
				}
			}
			&.right {
				@include mq() {
					li {
						border-bottom: solid 1px #40210F;
						&:last-child {
							border-bottom: none;
							padding: 30px 20px 15px;
							justify-content: center;
						}
						a {
							display: block;
					    padding: 15px 20px;
					    font-weight: bold;
					    font-size: fs(14);
					    letter-spacing: 1px;
						}
						.lang-box {
					    justify-content: center;
					    @include mq() {
					    	padding: 15px 20px;
						    justify-content: flex-start;
						    a {
						    	display: inline-block;
						    	padding: 0;
						    	width: 50px;
						    }
						    span {
						    	width: 100px;
						    }
					    }
					    span {
					    	font-size: fs(14);
					    	font-weight: bold;
					    }
						}
					}
				}
			}
		}
	}
	@include mq() {

	}
}


// Button Open Menu SP
.btn-menu {
	display: none;
  position: fixed;
  top: 28px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10000;
  @include mq() {
  	display: block;
  }
  &.active {
    span {
      width: 40px;
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 0;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 25px;
		    left: 0;
      }
    } 
  }
  span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #40210F;
    transition: all .25s;

    &:nth-child(1) {
      top: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 20px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }
}
