@charset "UTF-8";
/* -------------------
  COMMON PARTS
--------------------*/
// .font-en {
//   font-family: 'EB Garamond', serif;
// }

.font-vi {
	font-family: 'Alegreya', serif;
	font-weight: 500;
}

.section {
	&-titleWrapper {
		text-align: center;
	}
	&-title {
		display: inline-block;
		position: relative;
		padding: 10px 30px 12px;
		margin-bottom: 50px;
		font-size: fs(50);
		font-weight: bold;
		color: #40210F;
		@include mq() {
			margin-bottom: 35px;
			font-size: fs(40);
			&.font-jp {
				font-size: fs(38);
				line-height: 1.2;
			}
		}
		&:before {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 30px;
			height: 20px;
			background: url(../images/common/icon-banhmi.png) center center / 100% no-repeat;
			content: "";
		}
		&:after {
			position: absolute;
			top: 8px;
			right: 6px;
			display: block;
			width: 25px;
			height: 25px;
			background: url(../images/common/icon-sakura.png) center center / 100% no-repeat;
			content: "";
		}
	}
}

// back top
.backtop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 8999;
  @include mq() {
		bottom: 15px;
	  right: 10px;
	}
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 70px;
    padding-top: 12px;
    border-radius: 50%;
    color: #40210F;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-family: 'Rubik', sans-serif;
    background: #fee0ae url(../images/common/arrow-up.png) no-repeat top 16px center;
    background-size: 10px 6px;
    transition: all .3s;
    @include mq() {
			width: 60px;
	    height: 60px;
	    background-position: top 10px center; 
	    line-height: .85rem;
		}
	  &:hover {
	  	background-position: top 13px center; 
	  	@include mq() {
		  	background-position: top 10px center; 
	  	}
	  }
	}
}

