/* -------------------
  RESET
--------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

b {
  font-weight: bold; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a {
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
  color: inherit; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle;
  width: 100%;
  height: auto; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* -------------------
  VARIABLES
--------------------*/
/* -------------------
  MIXIN
--------------------*/
/* 
.example {
  font-size: fs(12); <- 12px quite
}
*/
/* 
.example {
  @include mq() {
	  width: 100%;
	}
}
*/
/* -------------------
  COMMON
--------------------*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #40210F; }
  body.fixed {
    height: 100vh;
    overflow: hidden; }

.pc-only {
  display: block !important; }
  @media screen and (max-width: 950px) {
    .pc-only {
      display: none !important; } }

.pc-only2 {
  display: inline-block !important; }
  @media screen and (max-width: 950px) {
    .pc-only2 {
      display: none !important; } }

.sp-only {
  display: none !important; }
  @media screen and (max-width: 950px) {
    .sp-only {
      display: block !important; } }

.wrapper {
  min-width: 1024px;
  overflow: hidden; }
  @media screen and (max-width: 950px) {
    .wrapper {
      min-width: auto; } }

@media screen and (max-width: 950px) {
  .main {
    padding-top: 80px; } }

.container {
  position: relative;
  width: 1050px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto; }
  @media screen and (max-width: 950px) {
    .container {
      width: 100%; } }

/* animation zoomout img */
.thumbWrapper:hover .thumb img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08); }

.thumbWrapper .thumb {
  overflow: hidden; }
  .thumbWrapper .thumb img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease; }

.fadeup {
  opacity: 0;
  transform: translate(0, 80px);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }

.fadeup-in {
  opacity: 1;
  transform: translate(0, 0); }

.delay-1 {
  transition-delay: 0s; }

.delay-2 {
  transition-delay: .2s; }

.delay-3 {
  transition-delay: .4s; }

.delay-4 {
  transition-delay: .6s; }

.delay-5 {
  transition-delay: .8s; }

.delay-6 {
  transition-delay: 1s; }

.delay-7 {
  transition-delay: 1.2s; }

.delay-8 {
  transition-delay: 1.4s; }

@media screen and (max-width: 1024px) {
  .tb-transition-delay-1 {
    transition-delay: 0s; }
  .tb-transition-delay-2 {
    transition-delay: .2s; }
  .tb-transition-delay-3 {
    transition-delay: .4s; }
  .tb-transition-delay-4 {
    transition-delay: .6s; } }

@-webkit-keyframes textLinear {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

@keyframes textLinear {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

/* animation */
@-webkit-keyframes passing-bar {
  0% {
    left: 0;
    right: auto;
    width: 0; }
  50% {
    left: 0;
    right: auto;
    width: 100%; }
  51% {
    left: auto;
    right: 0;
    width: 100%; }
  100% {
    left: auto;
    right: 0;
    width: 0; } }

@keyframes passing-bar {
  0% {
    left: 0;
    width: 0; }
  50% {
    left: 0;
    width: 100%; }
  51% {
    left: 0;
    width: 100%; }
  100% {
    left: 100%;
    width: 0; } }

@-webkit-keyframes passing-txt {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes passing-txt {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.passing-txt {
  position: relative;
  display: block;
  opacity: 0;
  -webkit-animation: passing-txt 1.5s ease 0s 1 normal forwards;
  animation: passing-txt 1.5s ease 0s 1 normal forwards; }
  .passing-txt:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background: #fee0ae;
    -webkit-animation: passing-bar 1.5s ease 0s 1 normal forwards;
    animation: passing-bar 1.5s ease 0s 1 normal forwards;
    content: ""; }

/* -------------------
  COMMON PARTS
--------------------*/
.font-vi {
  font-family: 'Alegreya', serif;
  font-weight: 500; }

.section-titleWrapper {
  text-align: center; }

.section-title {
  display: inline-block;
  position: relative;
  padding: 10px 30px 12px;
  margin-bottom: 50px;
  font-size: 3.125rem;
  font-weight: bold;
  color: #40210F; }
  @media screen and (max-width: 950px) {
    .section-title {
      margin-bottom: 35px;
      font-size: 2.5rem; }
      .section-title.font-jp {
        font-size: 2.375rem;
        line-height: 1.2; } }
  .section-title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 20px;
    background: url(../images/common/icon-banhmi.png) center center/100% no-repeat;
    content: ""; }
  .section-title:after {
    position: absolute;
    top: 8px;
    right: 6px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/common/icon-sakura.png) center center/100% no-repeat;
    content: ""; }

.backtop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 8999; }
  @media screen and (max-width: 950px) {
    .backtop {
      bottom: 15px;
      right: 10px; } }
  .backtop span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 70px;
    padding-top: 12px;
    border-radius: 50%;
    color: #40210F;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-family: 'Rubik', sans-serif;
    background: #fee0ae url(../images/common/arrow-up.png) no-repeat top 16px center;
    background-size: 10px 6px;
    transition: all .3s; }
    @media screen and (max-width: 950px) {
      .backtop span {
        width: 60px;
        height: 60px;
        background-position: top 10px center;
        line-height: .85rem; } }
    .backtop span:hover {
      background-position: top 13px center; }
      @media screen and (max-width: 950px) {
        .backtop span:hover {
          background-position: top 10px center; } }

/* -------------------
  HEADER
--------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 99999;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.3)); }
  @media screen and (max-width: 950px) {
    .header {
      position: fixed;
      background: #ffe1af;
      height: 81px; } }
  .header .container {
    height: 100%; }
  .header-logo {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 180px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 100; }
    @media screen and (max-width: 950px) {
      .header-logo {
        top: 6px;
        left: 10px;
        width: 105px;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        padding: 0;
        background-color: #ffe1af;
        border-radius: 50%; } }
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.125rem;
    color: #000; }
    @media screen and (max-width: 950px) {
      .header-menu {
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0.75rem;
        line-height: 1.25rem;
        border-top: solid 1px #40210F;
        background-color: #ffe1af;
        z-index: 9999;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transition: all .25s; }
        .header-menu.active {
          transform: translateX(0);
          -webkit-transform: translateX(0); } }
    .header-menu--nav {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 950px) {
        .header-menu--nav {
          display: block; } }
      .header-menu--nav li {
        margin-right: 40px;
        transition: all .3s; }
        @media screen and (max-width: 950px) {
          .header-menu--nav li {
            margin-right: 0; } }
        .header-menu--nav li:last-child {
          margin-right: 0;
          display: flex; }
        .header-menu--nav li a {
          display: inline-block;
          position: relative;
          -webkit-transition: all .25s;
          transition: all .25s; }
          .header-menu--nav li a:hover {
            opacity: .7; }
            .header-menu--nav li a:hover:before {
              width: 80%; }
          .header-menu--nav li a:before {
            content: "";
            width: 0px;
            height: 2px;
            background: #40210F;
            position: absolute;
            bottom: -6px;
            left: 0px;
            -webkit-transition: all .25s linear 0s;
            -o-transition: all .25s linear 0s;
            transition: all .25s linear 0s; }
            @media screen and (max-width: 950px) {
              .header-menu--nav li a:before {
                display: none; } }
        .header-menu--nav li .facebook {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border: solid 2px #000;
          border-radius: 5px;
          transition: all .3s; }
          @media screen and (max-width: 950px) {
            .header-menu--nav li .facebook {
              display: flex !important;
              margin: 0 15px 0 0;
              width: 46px;
              height: 46px;
              border-radius: 10px;
              font-size: 1.625rem !important; } }
          .header-menu--nav li .facebook:hover {
            border-color: #4267B2;
            background-color: #4267B2;
            color: #fff; }
        .header-menu--nav li .instagram {
          display: flex !important;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          font-size: 1.625rem;
          border: solid 2px #000;
          border-radius: 5px;
          transition: all .3s; }
          @media screen and (max-width: 950px) {
            .header-menu--nav li .instagram {
              width: 46px;
              height: 46px;
              border-radius: 10px;
              font-size: 1.625rem !important; } }
          .header-menu--nav li .instagram:hover {
            border-color: #d20066;
            background-color: #d20066;
            color: #fff; }
        .header-menu--nav li .lang-box {
          display: flex;
          align-items: center; }
          .header-menu--nav li .lang-box--item {
            display: inline-block;
            margin-right: 10px; }
            .header-menu--nav li .lang-box--item:last-child {
              margin-right: 0; }
          .header-menu--nav li .lang-box a {
            width: 40px; }
      @media screen and (max-width: 950px) {
        .header-menu--nav.left li {
          margin-right: 0;
          border-bottom: solid 1px #40210F; }
          .header-menu--nav.left li a {
            display: block;
            padding: 15px 20px;
            font-weight: bold;
            font-size: 0.875rem;
            letter-spacing: 1px; } }
      @media screen and (max-width: 950px) {
        .header-menu--nav.right li {
          border-bottom: solid 1px #40210F; }
          .header-menu--nav.right li:last-child {
            border-bottom: none;
            padding: 30px 20px 15px;
            justify-content: center; }
          .header-menu--nav.right li a {
            display: block;
            padding: 15px 20px;
            font-weight: bold;
            font-size: 0.875rem;
            letter-spacing: 1px; }
          .header-menu--nav.right li .lang-box {
            justify-content: center; } }
    @media screen and (max-width: 950px) and (max-width: 950px) {
      .header-menu--nav.right li .lang-box {
        padding: 15px 20px;
        justify-content: flex-start; }
        .header-menu--nav.right li .lang-box a {
          display: inline-block;
          padding: 0;
          width: 50px; }
        .header-menu--nav.right li .lang-box span {
          width: 100px; } }
      @media screen and (max-width: 950px) {
            .header-menu--nav.right li .lang-box span {
              font-size: 0.875rem;
              font-weight: bold; } }

.btn-menu {
  display: none;
  position: fixed;
  top: 28px;
  right: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10000; }
  @media screen and (max-width: 950px) {
    .btn-menu {
      display: block; } }
  .btn-menu.active span {
    width: 40px; }
    .btn-menu.active span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 0; }
    .btn-menu.active span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .btn-menu.active span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 25px;
      left: 0; }
  .btn-menu span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #40210F;
    transition: all .25s; }
    .btn-menu span:nth-child(1) {
      top: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .btn-menu span:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    .btn-menu span:nth-child(3) {
      top: 20px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }

/* -------------------
  FOOTER
--------------------*/
.footer {
  margin-top: 100px;
  padding: 20px 0;
  background-color: #F0F0F0;
  text-align: center;
  line-height: 1.375rem; }
  @media screen and (max-width: 950px) {
    .footer-copy {
      letter-spacing: 1.1px; } }
  .footer a {
    text-decoration: underline;
    transition: all .25s; }
    .footer a:hover {
      opacity: 0.7; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0; }

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px; } }

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

/* -------------------
  TOP PAGE
--------------------*/
.section-banner {
  position: relative; }
  .section-banner--title {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #fff;
    z-index: 99;
    font-weight: 900; }
    .section-banner--title p {
      font-size: 2rem;
      text-align: center;
      font-weight: 900; }
      @media screen and (max-width: 950px) {
        .section-banner--title p {
          font-size: 1.625rem; } }
    @media screen and (max-width: 950px) {
      .section-banner--title {
        width: 100%;
        left: calc(50%);
        transform: translate(-50%, 50%);
        bottom: 50%;
        font-size: 1.875rem;
        line-height: 2rem;
        text-align: center; } }

.section-menu {
  margin-top: 100px; }
  @media screen and (max-width: 950px) {
    .section-menu {
      margin-top: 60px; } }
  .section-menu--list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .section-menu--item {
    position: relative;
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 50px;
    cursor: pointer; }
    @media screen and (max-width: 950px) {
      .section-menu--item {
        width: 50%; } }
    .section-menu--item:last-child {
      margin-bottom: 0; }
    .section-menu--item.discount:after {
      display: inline-block;
      position: absolute;
      right: -15px;
      top: -40px;
      width: 120px;
      height: 120px;
      background: url(../images/common/icon-discout.png) no-repeat;
      background-size: 100% 100%;
      content: "";
      z-index: 100; }
      @media screen and (max-width: 950px) {
        .section-menu--item.discount:after {
          right: -5px;
          width: 80px;
          height: 80px; } }
    .section-menu--item-thumb {
      margin-bottom: 15px;
      border-radius: 10px 10px 0 0; }
    .section-menu--item-infor {
      text-align: center; }
    .section-menu--item-rating {
      margin-bottom: 10px; }
      .section-menu--item-rating i {
        color: #FFA500; }
    .section-menu--item-name {
      margin-bottom: 15px; }
      .section-menu--item-name.font-jp {
        line-height: 1.6; }
    .section-menu--item-price {
      font-size: 14;
      color: #FFA500; }

.section-about {
  margin: 250px 0 80px;
  padding-top: 500px;
  position: relative;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../images/top/banner-store.jpg); }
  @media screen and (max-width: 950px) {
    .section-about {
      background-attachment: scroll;
      padding: 50px 0;
      margin: 80px 0; } }
  .section-about.jp {
    margin: 170px 0 80px;
    padding-top: 350px; }
    @media screen and (max-width: 950px) {
      .section-about.jp {
        margin: 80px 0;
        padding: 50px 0; } }
  .section-about--content {
    position: absolute;
    top: -180px;
    left: 50%;
    width: 1050px;
    padding: 60px 50px;
    background-color: #F0F0F0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 10px;
    font-size: 0.875rem;
    line-height: 1.75rem; }
    .section-about--content.jp {
      top: -100px; }
    @media screen and (max-width: 950px) {
      .section-about--content {
        position: static;
        width: 90%;
        margin: 0 auto;
        padding: 40px 30px;
        transform: translateX(0);
        -webkit-transform: translateX(0); } }
    .section-about--content-des {
      text-align: left; }
      @media screen and (max-width: 950px) {
        .section-about--content-des {
          max-height: 300px;
          overflow: auto; } }
      .section-about--content-des p {
        margin-bottom: 10px; }

.section-store {
  margin-top: 100px; }
  @media screen and (max-width: 950px) {
    .section-store {
      margin-top: 60px; } }
  .section-store--item {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px dotted #ccc;
    counter-increment: num-store; }
    @media screen and (max-width: 950px) {
      .section-store--item {
        display: block; }
        .section-store--item:first-child {
          padding-top: 0; } }
    .section-store--item:last-child {
      border-bottom: none; }
    .section-store--item-infor {
      width: 40%;
      padding-right: 20px; }
      @media screen and (max-width: 950px) {
        .section-store--item-infor {
          width: 100%; } }
    .section-store--item-title {
      position: relative;
      margin-bottom: 20px;
      padding-left: 60px;
      font-size: 1.25rem;
      line-height: 1.875rem;
      font-weight: bold; }
      .section-store--item-title span {
        font-size: 0.875rem; }
      .section-store--item-title:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: solid 2px #40210F;
        border-radius: 50%;
        content: counter(num-store); }
    .section-store--item-detail {
      padding-left: 60px; }
      @media screen and (max-width: 950px) {
        .section-store--item-detail {
          margin-bottom: 20px; } }
      .section-store--item-detail li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 20px;
        font-size: 0.875rem;
        line-height: 1.25rem; }
        .section-store--item-detail li:before {
          position: absolute;
          left: 0;
          top: 4px;
          display: inline-block;
          width: 15px;
          height: 15px;
          background: url(../images/common/icon-marker.png) no-repeat;
          background-size: cover;
          content: ''; }
        .section-store--item-detail li.phone:before {
          top: 3px;
          background-image: url(../images/common/icon-phone.png); }
        .section-store--item-detail li.time:before {
          background-image: url(../images/common/icon-time.png); }
        .section-store--item-detail li.open:before {
          top: 3px;
          background-image: url(../images/common/icon-open.png); }
    .section-store--item-map {
      width: 60%; }
      .section-store--item-map iframe {
        width: 100%;
        height: 350px; }
      @media screen and (max-width: 950px) {
        .section-store--item-map {
          width: 100%; }
          .section-store--item-map iframe {
            height: 200px; } }

.section-contact {
  margin-top: 100px; }
  @media screen and (max-width: 950px) {
    .section-contact {
      margin-top: 60px; } }
  .section-contact--content {
    display: flex; }
    @media screen and (max-width: 950px) {
      .section-contact--content {
        display: block; } }
  .section-contact--item {
    width: 50%;
    text-align: center;
    transition: all .25s; }
    @media screen and (max-width: 950px) {
      .section-contact--item {
        width: 100%; } }
    .section-contact--item:hover {
      opacity: .7; }
    .section-contact--item:first-child {
      border-right: solid 1px #40210F; }
      @media screen and (max-width: 950px) {
        .section-contact--item:first-child {
          margin-bottom: 30px;
          border-right: none; } }
    .section-contact--item a {
      display: block; }
    .section-contact--item p {
      margin-bottom: 15px; }
      @media screen and (max-width: 950px) {
        .section-contact--item p {
          margin-bottom: 10px; } }
      .section-contact--item p i {
        font-size: 1.875rem; }
        @media screen and (max-width: 950px) {
          .section-contact--item p i {
            font-size: 1.5625rem; } }
    .section-contact--item span {
      font-size: 1.5625rem; }
      @media screen and (max-width: 950px) {
        .section-contact--item span {
          font-size: 1.125rem; } }

.section-order {
  margin-top: 100px; }
  @media screen and (max-width: 950px) {
    .section-order {
      margin-top: 60px; } }

.order {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: center;
  top: 100px;
  right: 20px;
  width: 60px;
  height: 120px;
  z-index: 999990; }
  @media screen and (max-width: 950px) {
    .order {
      position: static;
      width: 100%;
      height: auto;
      padding: 15px 20px;
      align-items: center;
      justify-content: center; } }
  .order-label {
    width: 60px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #fee0ae;
    color: #40210F;
    text-align: center; }
    @media screen and (max-width: 950px) {
      .order-label {
        margin-bottom: 0;
        font-size: 0.875rem;
        letter-spacing: 1px;
        text-align: left; } }
    @media screen and (max-width: 950px) {
      .order-label.vi {
        font-family: 'Alegreya', serif;
        font-weight: bold; } }
  .order a {
    display: inline-block;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: all .25s; }
    .order a:hover {
      transform: translateX(-8px);
      -webkit-transform: translateX(-8px); }
    @media screen and (max-width: 950px) {
      .order a {
        width: 52px;
        height: 52px;
        margin-right: 15px;
        margin-bottom: 0; }
        .order a:last-child {
          margin-right: 0; } }

.remodal {
  padding: 0; }
  .remodal-close {
    width: 24px;
    height: 24px;
    left: auto;
    right: -24px;
    transform: translateY(-100%); }
    @media screen and (max-width: 950px) {
      .remodal-close {
        right: -4px;
        top: -5px; } }
    .remodal-close:hover:before {
      opacity: .7; }
    .remodal-close:before {
      width: 24px;
      left: auto;
      right: 0;
      font-size: 42px;
      line-height: 24px;
      color: #fff;
      transition: opacity .3s; }

/* -------------------
  PAGE NAME
--------------------*/
.section-order p {
  margin: 20px 0;
  padding-left: 50px;
  font-size: 1.125rem;
  line-height: 1.8; }
  @media screen and (max-width: 950px) {
    .section-order p {
      margin: 10px 0;
      padding-left: 15px; } }
  .section-order p.guide {
    font-weight: bold; }
  .section-order p .logo-app {
    display: inline-block;
    margin: 0 8px;
    width: 40px;
    height: auto;
    border-radius: 10px; }

.section-order--content-item {
  margin-bottom: 80px; }
  .section-order--content-item:last-child {
    margin-bottom: 0; }

.section-order--title {
  display: inline-block;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 50px;
  font-size: 2.25rem;
  font-weight: bold;
  color: #40210F; }
  @media screen and (max-width: 950px) {
    .section-order--title {
      font-size: 1.5rem;
      margin-bottom: 20px; } }
  .section-order--title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 72px;
    width: 72px;
    height: 4px;
    background-color: #fac03d; }
  .section-order--title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 72px;
    height: 4px;
    background-color: #1d471a; }

.section-order--appStoreList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }
  .section-order--appStoreList a {
    display: inline-block;
    width: 48%;
    transition: all .3s; }
    .section-order--appStoreList a:hover {
      opacity: .7; }

.section-order--stepList {
  margin-top: 50px; }
  .section-order--stepList-item {
    counter-increment: num-step; }
    @media screen and (max-width: 950px) {
      .section-order--stepList-item {
        margin-bottom: 60px; } }
  .section-order--stepList-ttl {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px;
    font-size: 1.875rem;
    line-height: 1.875rem;
    font-weight: bold; }
    @media screen and (max-width: 950px) {
      .section-order--stepList-ttl {
        padding-left: 50px !important; } }
    .section-order--stepList-ttl:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: solid 2px #40210F;
      border-radius: 50%;
      content: counter(num-step); }
  .section-order--stepList img {
    display: block;
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 0 auto; }
    @media screen and (max-width: 950px) {
      .section-order--stepList img {
        width: 90%; } }
    .section-order--stepList img.small {
      width: 150px; }

/*# sourceMappingURL=../maps/index.css.map */
