@charset "UTF-8";
/* -------------------
  PAGE NAME
--------------------*/

.section {
	&-order {
		p {
			margin: 20px 0;
			padding-left: 50px;
			font-size: fs(18);
			line-height: 1.8;
			@include mq(){
				margin: 10px 0;
				padding-left: 15px;
			}
			&.guide {
				font-weight: bold;
			}
			.logo-app {
				display: inline-block;
				margin: 0 8px;
				width: 40px;
				height: auto;
				border-radius: 10px;
			}
		}
		&--content {
			&-item {
				margin-bottom: 80px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&--title {
			display: inline-block;
			position: relative;
			padding-bottom: 12px;
			margin-bottom: 50px;
			font-size: fs(36);
			font-weight: bold;
			color: #40210F;
			@include mq(){
				font-size: fs(24);
				margin-bottom: 20px;
			}
			&:before {
		    content: "";
		    display: block;
		    position: absolute;
		    bottom: 0;
		    left: 72px;
		    width: 72px;
		    height: 4px;
		    background-color: #fac03d;
			}
			&:after {
				content: "";
		    display: block;
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 72px;
		    height: 4px;
		    background-color: #1d471a;
			}
		}

		&--appStoreList {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			a {
				display: inline-block;
				width: 48%;
				transition: all .3s;
				&:hover {
					opacity: .7;
				}
			}
		}

		&--stepList {
			margin-top: 50px;
			&-item {
				counter-increment: num-step;
				@include mq(){
					margin-bottom: 60px;
				}
			}
			&-ttl {
				display: flex;
				align-items: center;
				position: relative;
				margin-bottom: 20px;
				padding-left: 60px;
				font-size: fs(30);
				line-height: fs(30);
				font-weight: bold;
				@include mq(){
					padding-left: 50px !important;
				}
				&:before {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					border: solid 2px #40210F;
					border-radius: 50%;
					content: counter(num-step);
				}
			}
			&-ttl {

			}
			img {
				display: block;
				width: 400px;
				max-width: 100%;
				height: auto;
				margin: 0 auto;
				@include mq(){
					width: 90%;
				}
				&.small {
					width: 150px;
				}
			}
		}

	}
}