@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/

.section {
	&-banner {
		position: relative;
		&--title {
			position: absolute;
	    left: calc(50%);
	    transform: translateX(-50%);
	    bottom: 40px;
	    font-size: fs(40);
    	line-height: fs(40);
	    font-weight: bold;
	    color: #fff;
	    z-index: 99;
	    font-weight: 900;
	    p {
	    	font-size: fs(32);
	    	text-align: center;
		    font-weight: 900;
	    	@include mq() {
		    	font-size: fs(26);
	    	}
	    }
	    @include mq() {
		    width: 100%;
	    	left: calc(50%);
		    transform: translate(-50% , 50%);
		    bottom: 50%;
		    font-size: fs(30);
		    line-height: fs(32);
		    text-align: center;
	    }
		}
		&--silder {
			&-item {

			}
		}
	}
	&-menu {
		margin-top: 100px;
		@include mq() {
			margin-top: 60px;
		}
		&--list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
		}
		&--item {
			position: relative;
			width: 33.33%;
			padding: 0 15px;
			margin-bottom: 50px;
			cursor: pointer;
			@include mq() {
				width: 50%;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&.discount {
				&:after {
					display: inline-block;
					position: absolute;
					right: -15px;
			    top: -40px;
					width: 120px;
					height: 120px;
					background: url(../images/common/icon-discout.png) no-repeat;
					background-size: 100% 100%;
					content: "";
					z-index: 100;
					@include mq() {
						right: -5px;
						width: 80px;
				    height: 80px;
					}
				}
			}
			&-thumb {
				margin-bottom: 15px;
				border-radius: 10px 10px 0 0;
			}
			&-infor {
				text-align: center;
			}
			&-rating {
				margin-bottom: 10px;
				i {
					color: #FFA500;
				}
			}
			&-name {
				margin-bottom: 15px;
				&.font-jp {
					line-height: 1.6;
				}
			}
			&-price {
				font-size: (14);
				color: #FFA500;
			}
		}
	}
	&-about {
		margin: 250px 0 80px;
		padding-top: 500px;
		position: relative;
	  height: 100%;
		background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  -webkit-background-size:cover;
	  background-size: cover;
		background-image: url(../images/top/banner-store.jpg);
		@include mq() {
			background-attachment: scroll;
			padding: 50px 0;
			margin: 80px 0;
		}
		&.jp {
			margin: 170px 0 80px;
			padding-top: 350px;
			@include mq() {
				margin: 80px 0;
				padding: 50px 0;
			}
		}
		&--content {
			position: absolute;
			top: -180px;
			left: 50%;
			width: 1050px;
			padding: 60px 50px;
			background-color: #F0F0F0;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			border-radius: 10px;
			font-size: fs(14);
			line-height: fs(28);
			&.jp {
				top: -100px;
			}
			@include mq() {
				position: static;
				width: 90%;
				margin: 0 auto;
				padding: 40px 30px;
				transform: translateX(0);
				-webkit-transform: translateX(0);
			}
			&-des {
				text-align: left;	
				@include mq() {
			    max-height: 300px;
			    overflow: auto;
				}
				p {
					margin-bottom: 10px;
				}
			}
		}	
	}
	&-store {
		margin-top: 100px;
		@include mq() {
			margin-top: 60px;
		}
		&--list {
		}
		&--item {
			display: flex;
			justify-content: space-between;
			padding: 30px 0;
	    border-bottom: 1px dotted #ccc;
	    counter-increment: num-store;
	    @include mq() {
	    	display: block;
	    	&:first-child {
	    		padding-top: 0;
	    	}
			}
	    &:last-child {
	    	border-bottom: none;
	    }
			&-infor {
				width: 40%;
				padding-right: 20px;
				@include mq() {
					width: 100%;
				}
			}
			&-title {
				position: relative;
				margin-bottom: 20px;
				padding-left: 60px;
				font-size: fs(20);
				line-height: fs(30);
				font-weight: bold;
				span {
					font-size: fs(14);
				}
				&:before {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					border: solid 2px #40210F;
					border-radius: 50%;
					content: counter(num-store);
				}
			}
			&-detail {
				padding-left: 60px;
				@include mq() {
					margin-bottom: 20px;
				}
				li {
					position: relative;
					margin-bottom: 15px;
					padding-left: 20px;
					font-size: fs(14);
					line-height: fs(20);
					&:before {
						position: absolute;
						left: 0;
						top: 4px;
						display: inline-block;
						width: 15px;
						height: 15px;
						background: url(../images/common/icon-marker.png) no-repeat;
						background-size: cover;
						content: '';
					}
					&.phone {
						&:before {
							top: 3px;
							background-image: url(../images/common/icon-phone.png);
						}
					}
					&.time {
						&:before {
							background-image: url(../images/common/icon-time.png);
						}
					}
					&.open {
						&:before {
							top: 3px;
							background-image: url(../images/common/icon-open.png);
						}
					}
				}
			}
			&-map {
				width: 60%;
				iframe {
					width: 100%;
					height: 350px;
				}
				@include mq() {
					width: 100%;
					iframe {
						height: 200px;
					}
				}
			}
		}
	}
	&-contact {
		margin-top: 100px;
		@include mq() {
			margin-top: 60px;
		}
		&--content {
			display: flex;
			@include mq() {
				display: block;
			}
		}
		&--item {
			width: 50%;
			text-align: center;
			transition: all .25s;
			@include mq() {
				width: 100%;
			}
			&:hover {
				opacity: .7;
			}
			&:first-child {
				border-right: solid 1px #40210F;
				@include mq() {
					margin-bottom: 30px;
					border-right: none;
				}
			}
			a {
				display: block;
			}
			p {
				margin-bottom: 15px;
				@include mq() {
					margin-bottom: 10px;
				}
				i {
			    font-size: fs(30);
			    @include mq() {
						font-size: fs(25);
					}
				}
			}
			span {
				font-size: fs(25);
				@include mq() {
					font-size: fs(18);
				}
			}
		}
	}
	&-order {
		margin-top: 100px;
		@include mq() {
			margin-top: 60px;
		}
	}
}


.order {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	justify-content: center;
	top: 100px;
	right: 20px;
	width: 60px;
	height: 120px;
	z-index: 999990;
	@include mq() {
		position: static;
    width: 100%;
    height: auto;
		padding: 15px 20px;
    align-items: center;
    justify-content: center;
	}
	&-label {
		width: 60px;
		height: 30px;
		line-height: 30px;
		margin-bottom: 10px;
		border-radius: 10px;
		font-size: fs(16);
		background-color: #fee0ae;
		color: #40210F;
		text-align: center;
		@include mq() {
			margin-bottom: 0;
			font-size: fs(14);
		  letter-spacing: 1px;	
		  text-align: left;
		}
		&.vi {
			@include mq() {
		  	font-family: 'Alegreya', serif;
		  	font-weight: bold;
			}
		}

	}
	a {
		display: inline-block;
		margin-bottom: 10px;
		width: 60px;
		height: 60px;
		overflow: hidden;
		border-radius: 10px;
		overflow: hidden;
		transition: all .25s;
		&:hover {
			transform: translateX(-8px);
			-webkit-transform: translateX(-8px);
		}
		@include mq() {
			width: 52px;
	    height: 52px;
			margin-right: 15px;
			margin-bottom: 0;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}


// Custom remodal
.remodal {
	padding: 0;
	&-close {
    width: 24px;
    height: 24px;
		left: auto;
		right: -24px;
		transform: translateY(-100%);
		@include mq() {
			right: -4px;
			top: -5px;
	  }
    &:hover {
    	&:before {
	    	opacity: .7;
    	}
    }
		&:before {
	    width: 24px;
			left: auto;
			right: 0;
			font-size: 42px;
	    line-height: 24px;
      color: #fff;
      transition: opacity .3s;
		}
	}
}
